* {
	font-family: "Pangolin", cursive;
	font-size: 20px;
	margin: auto;
}
body {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	max-width: 1000px;
}
@media only screen and (max-width: 875px){
	.header_title {
		font-size: 2em;
	}
	.header_content {
		font-size: 1em
	}
	.text {
		font-size: 1em;
	}
	.button {
		font-size: 40px;
	}
}
@media only screen and (min-width: 876px){
	.header_title {
		font-size: 4em;
	}
	.header_content {
		font-size: 2em;
	}
	.button {
		font-size: 60px;
	}
}
.header_inner {
	text-align: center;
	background: #859ec6;
	text-shadow: 1px 1px grey;
	border-radius: 20px;
}
.footer_inner {
	text-align: center;
	background: #859ec6;
	text-shadow: 1px 1px grey;
	border-radius: 20px;
	flex-wrap: wrap;
}
.footer_content {
	width: calc((100% - 100px)/3);
	margin-right: 50px;
}
.footer_content_last {
	width: calc((100% - 100px)/3);
	margin-right: 0px;
}
.main_block {
	background: #859ec6;
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
}
.text {
	font-size: 2em;
}
.post {
	background: #aeb0b2;
	margin-bottom: 5px;
}
.subject {
	font-size: 1.5em;
	font-weight: bold;
}
.content {
	margin-top: 5px;
}
.date {
	margin-top: 20px;
	font-size: .8em;
	font-style: italic;
}
.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
	width: 20%;
	height: 80px;
	text-align: center;
}
.indent {
	margin-left: 20%;
}
.iwidth {
	width: 100%;
}
.iheight {
	height: 300px;
}
.login_submit {
	margin-left: 5%;
}
.error {
	color: red;
	font-style: bold;
}