<!--This is the base HTML template that all other HTML templates reference.-->
<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Template page for blog">
	<meta name="author" content="shermanlts@gmail.com">
	<meta charset= "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The incredibly lazy blog</title>
	<link rel="stylesheet" href="/static/main.css">
	<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header_inner">
		<h1 class="header_title">
			INCREDIBLY LAZY BLOG!
		</h1>
		<h2 class="header_content">
			The blog where you do all the work
		</h2>
	</div>
</header>
<main class="main">
{% block content %}
{% endblock %}
</main>
<footer class="footer">
	<div class="footer_inner">
		<a href="http://www.udacity.com" class="footer_content">Udacity website</a>
		<a href="https://cloud.google.com/appengine/" class="footer_content">Google App Engine</a>
		<a href="http://lea.verou.me/css3patterns/" class="footer_content_last">Css backgrounds</a>
	</div>
</footer>
</body>