<!--This page is used for editing posts-->
{% extends "blog_template.html" %}

{% block content %}
	<div class="main_block">
 		<a href="/{{ pid }}" class="button2">Cancel</a>
 		<h2>Edit your post below</h2> 
	    <form method="post">
	        <label>
		        <div>subject</div>
		        <input type="text" name="subject" value="{{subject}}" class="iwidth">
		    </label>
	 		<label>
	 		    <div>blog</div>
	 		    <textarea name="content" class="iwidth iheight">{{content}}</textarea>
	 		</label>
	 		<div class="error">{{error}}</div>
	 		<input type="submit" class="button">
 		</form>
 	</div>
	<br>
	<br>
	<br>
	<div class="buttons">
		<a href="/logout" class="button2">Logout</a>
	</div>
{% endblock %}