<!--Login page for the site.-->
{% extends "blog_template.html" %}

{% block content %}

<div class="main_block">
	<h3 class="header text">
		Please enter your login info below.
	</h3>
	<div class="login">
		<form method="post">
			<h4>Username</h4>
			<input type="text" name="username" value="{{username}}">
			<br>
			<br>
			<h4>Password</h4>
			<input type="password" name="password" value="">
			<input type="submit" class="login_submit">
			<br>
			<div class="error">
				{{error}}
			</div>
			<br>
			<br>
			<br>
			<p>Don't have a login? Signup here:</p>
			<div class="buttons">
				<a href="/signup" class="button indent">signup</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}