<!--This page is used to view individual posts. Logged in users may edit delete
	their own posts and comments from here. References post.html for the posts
	and comment.html for the comments.-->
{% extends "blog_template.html" %}

{% block content %}
	<div class="menu">
			<a href="/logout" class="button2">Logout</a>
			<a href="/blog" class="button2">Blog</a>
			<a href="/newpost" class="button2">New Post</a>	
	<div class="main_block">
  		{{post.render() | safe}}
  		<p class="likes">Liked by: {{ likes }}</p>
  		{% if user == post.poster %}
			<a href="/edit/{{ post.key().id() }}" class="button2">Edit</a>
			<a href="/delete/{{ post.key().id() }}" class="button2">Delete</a>
		{% else %}
			{% if liked == True %}
				<button>Liked</button>
			{% else %}
				<form method="post">
					<input type="hidden" name="like" value="user">
					<button type="submit" class="button2">Like</button>
				</form>
			{% endif %}
		{% endif %}
  	</div>
	{% if posts %}
  		<br>
		<div class="main_block">
			<h3>Post a comment</h3>
			<form method="post">
		      <label>
		        <textarea name="comment" class="hwidth"></textarea>
		      </label>
		      <div class="error">{{error}}</div>
		      <input type="submit" class="button2">
		    </form>
		</div>
		<div class="main_block">
			<h2>Comments</h2>
			{% for p in posts %}
				<hr>
			    {{ p.render() | safe }}
		        {% if user == p.commenter %}
			        <div class="content">
			        	<a href="/cedit/{{ p.CID }}" class="button2">Edit</a>
		        		<a href="/cdelete/{{ p.CID }}" class="button2">Delete</a>
				    </div>
				{% endif %}
				<br>
		  	{% endfor %}
		</div>
	{% endif %}
{% endblock %}
