{% extends "blog_template.html" %}

{% block content %}

<div class="main_block">
	<h3 class="header text">
		Please signup for a free account below.
	</h3>
	<div class="login">
		<form method="post">
			<h4>Please create a username.</h4>
			<input type="text" name="username" value="{{username}}">
			<br>
			<div class="error">
			{{name_err}}
			</div>
			<br>
			<h4>Enter a password.</h4>
			<input type="password" name="password" value="">
			<br>
			<div class="error">
			{{pass_err}}
			</div>
			<br>
			<h4>Re-enter your password.</h4>
			<input type="password" name="verify" value="">
			<input type="submit" class="login_submit">
			<br>
			<br>
			<div class="error">
				{{error}}
			</div>
		</form>
	</div>
</div>

{% endblock %}