<!--This page is the default start page when not logged in.-->
{% extends "blog_template.html" %}

{% block content %}

<div class="main_block">
	<h3 class="header text">
		Welcome to the Incredibly Lazy Blog!
	</h3>
	<p class="text">On the internet there are a large number of very well crafted and cultivated blogs.<br>
	This is not one of them.<br>
	We looked at all the work that went in to creating good content and opted for a cookie and a nap instead.<br>
	So for this blog all of the content will instead come from you, the user, as well as anyone else who wants to log in (because what could go wrong).<br>
	If you are already registered then great, feel free to log back in below (We don't really care if it's really you but there is this thing called a rubric that says we have to).
	Otherwise feel free to signup by hitting the button below.</p>
	<br>
	<br>
	<div class="buttons">
		<a href="/login" class="button indent">Login</a>
		<a href="/signup" class="button indent">signup</a>
	</div>
</div>

{% endblock %}